/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Bleu très clair */
  text-align: center;
}

h1 {
  color: #0d98ba; /* Bleu-vert clair */
}

/* Styles pour l'en-tête */
header {
  background-color: #07689f; /* Bleu-vert plus foncé */
  color: #fff;
  padding: 20px 0;
}

/* Styles pour le formulaire de nom de joueur */
label {
  font-weight: bold;
  color: #0d98ba; /* Bleu-vert clair */
}

#nameErrorMessage { 
  color: #e74c3c; /* Rouge */
  display: none;
}

input[type="text"] {
  padding: 8px; /* Réduction de la taille de l'espacement */
  width: 200px;
  margin-right: 10px;
  border: 1px solid #2ecc71; /* Vert vif */
}

button#startButton {
  background-color: #0d98ba; /* Bleu-vert clair */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button#startButton:hover {
  background-color: #07689f; /* Bleu-vert plus foncé au survol */
}

/* Styles pour le jeu */
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #0d98ba; /* Bleu-vert clair */
}

/* Styles pour les choix de l'utilisateur */
.choices {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.choice {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.choice:hover {
  background-color: #27ae60; /* Vert plus foncé au survol */
}

/* Styles pour le résultat */
#result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #0d98ba; /* Bleu-vert clair */
}

/* Styles pour le tableau de scores */
#score {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-spacing: 0; /* Réduction de l'espacement des cellules */
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px; /* Réduction de la taille de la cellule */
  text-align: center;
}

th {
  background-color: #0d98ba; /* Bleu-vert clair */
  color: #fff;
}

/* Styles pour les images des choix */
.choice img {
  max-width: 100%;
  height: auto;
}
