<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.scss">
    <title>Chifoumi</title>

    <link rel="icon" type="image/jpg" href="https://images.dailyhive.com/20190730114106/rock-paper-scissors-montreal.jpg"/>
</head>
<body>
    <h1>CHIFOUMI</h1>

    <div class="choices">
      <button id="clickRock"><img   src="../images/rock.jpg" alt="Caillou"></button>   
      <button id="clickPaper"> <img  src="../images/paper.png" alt="Papier"></button> 
     <button id ="clickScissors"> <img  src="../images/scissors.png" alt="clickScissors"></button>
    </div>
    <svg class="pulse" viewbox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <h2 id="gameStatus"> CHOISISSEZ votre armes!</h2></svg>

        <p id="gameScore">ME: 0 | COMPUTER: 0</p>
    <div class ="resultat"></div>
 <script src="../index.js" ></script>
</body> 

</html>
